<div class="form-container">
  <h1>予定の新規追加</h1>

  <%= form_with model: @schedule, local: true do |f| %>
    <div class="mb-3">
      <%= f.label :title, "タイトル", class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :start_at, "開始日", class: "form-label" %>
      <%= f.date_field :start_at, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :end_at, "終了日", class: "form-label" %>
      <%= f.date_field :end_at, class: "form-control" %>
    </div>

    <div class="form-check mb-3">
      <%= f.check_box :all_day, class: "form-check-input" %>
      <%= f.label :all_day, "終日", class: "form-check-label" %>
    </div>

    <div class="mb-3">
      <%= f.label :memo, "スケジュールメモ", class: "form-label" %>
      <%= f.text_area :memo, rows: 5, class: "form-control" %>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <%= f.submit "登録する", class: "btn btn-primary me-md-2" %>
      <%= link_to "一覧へ戻る", schedules_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
