<div class="form-container">
  <h1>予定の詳細</h1>

  <table class="table table-hover">
    <tbody>
      <tr>
        <th>タイトル</th>
        <td><%= @schedule.title %></td>
      </tr>
      <tr>
        <th>開始日</th>
        <td><%= @schedule.start_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>終了日</th>
        <td><%= @schedule.end_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>終日</th>
        <td>
          <% if @schedule.all_day %>
            <span class="badge bg-success">終日</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>スケジュールメモ</th>
        <td><%= simple_format(@schedule.memo) %></td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex gap-2 justify-content-end">
    <%= link_to "一覧へ戻る", schedules_path, class: "btn btn-outline-secondary" %>
    <%= link_to "編集する", edit_schedule_path(@schedule), class: "btn btn-outline-warning" %>
  </div>
</div>
